header, header nav, header img {
	animation: aparecer 2s ease-out 1;
	-webkit-animation: aparecer 2s ease-out 1;/*Chrome, Safari, Android, iOs*/
    -moz-animation: aparecer 2s ease-out 1; /*Firefox*/
    -o-animation: aparecer 2s ease-out 1; /*Opera*/
	-ms-animation: aparecer 2s ease-out 1; /*Internet Explorer*/
}

@keyframes aparecer {
	from {height:   0%; opacity: 0;}  
    50%  {height:  37.5px; opacity: 0.2;} 
    to   {height:  75px; opacity: 1;} 
}

@-o-keyframes aparecer {
	from {height:   0%; opacity: 0;}  
    50%  {height:  37.5px; opacity: 0.2;} 
    to   {height:  75px; opacity: 1;} 
}
@-moz-keyframes aparecer {
   from {height:   0%; opacity: 0;}  
    50% {height:  37.5px; opacity: 0.2;} 
    to  {height:  75px; opacity: 1;} 
}

@-webkit-keyframes aparecer {
	from {height:   0%; opacity: 0;}  
    50%  {height:  37.5px; opacity: 0.2;} 
    to   {height:  75px; opacity: 1;} 
}

@-ms-keyframes aparecer {
	from {height:  0%; opacity: 0;}  
    50% {height:  37.5px; opacity: 0.2;} 
    to  {height:  75px; opacity: 1;} 
}

.desp {
	animation: menu 0.5s ease-out 1;
	-webkit-animation: menu 0.5s ease-out 1;/*Chrome, Safari, Android, iOs*/
    -moz-animation: menu 0.5s ease-out 1; /*Firefox*/
    -o-animation: menu 0.5s ease-out 1; /*Opera*/
	-ms-animation: menu 0.5s ease-out 1; /*Internet Explorer*/
}

@keyframes menu {
	from { opacity: 0;}  
    50%  { opacity: 0.2;} 
    to   { opacity: 1;} 
}

@-o-keyframes menu {
	from { opacity: 0;}  
    50%  { opacity: 0.01;} 
    to   { opacity: 1;}  
}
@-moz-keyframes menu {
    from { opacity: 0;}  
    50%  { opacity: 0.01;} 
    to   { opacity: 1;}  
}

@-webkit-keyframes menu {
	from { opacity: 0;}  
    50%  { opacity: 0.2;} 
    to   { opacity: 1;}  
}

@-ms-keyframes menu {
	from { opacity: 0;}  
    50%  { opacity: 0.2;} 
    to   { opacity: 1;}  
}


