body {
	background-image: url(../Imagenes/fondo.jpg);
	background-repeat: no-repeat;
	background-height:100%;
	background-width:100%;
	background-size: auto;
	background-attachment: fixed;
	background-position: center center;

}